@{
    ViewData["Title"] = "Inicio";
}



<div class="textos">
    <h1>SISTEMA DE AGENDAMIENTO DE CITAS</h1>
    <h2>¡Agenda tu cita ahora!</h2>

    <a class="nav-link text-white" id="link" asp-controller="AgendarCita" asp-action="Index">Agendar Cita</a>

    
    <img class="imagen" src="~/img/Health _Monochromatic.svg"/>
</div>
