
@{
    ViewData["Title"] = "Registrar Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="container-fluid">
        <h1 class="formulario">Registro de personas</h1>
    </div>
</div>