
@{
    ViewData["Title"] = "Registrar Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="formulario">

        <section class="parrafo">
            <h2>
                <spcan>Registro de pacientes</spcan>
            </h2>
        </section>
    </div>
</div>