
@{
    ViewData["Title"] = "Agendar Citas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="container container-fluid">
        <h1>Agendar Citas</h1>


    </div>
    
</div>


