
@{
    ViewData["Title"] = "RegistrarPaciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RegistrarPaciente</h1>

<div class="container">
    z
    <div class="container container-fluid">

        <section class="parrafo">
           <h2>
               <spcan>Registro de pacientes</spcan>
           </h2>
        </section>
    </div>
</div>