.titulo {
    padding-top: 4%;
    padding-bottom: 6%;
}

body{
    background-color: aliceblue;
}


.titulo h1 {
        color: green;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.boton {
    padding-top: 4%;
}
