.titulo {
    padding-top: 2%;
    padding-bottom: 4%;

}

body{
    background-color: aliceblue;
}


.titulo h1 {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.boton {
    padding-top: 4%;
}
